trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

stages:
  - stage: Validate
    displayName: 'Terraform Validate'
    jobs:
      - job: TerraformValidate
        displayName: 'Format and Validate'
        steps:
          - checkout: self

          - task: TerraformInstaller@1
            displayName: 'Install Terraform'
            inputs:
              terraformVersion: 'latest'

          - script: terraform fmt -check -recursive
            displayName: 'Terraform Format Check'
            workingDirectory: '$(System.DefaultWorkingDirectory)'

          - script: |
              for dir in modules/*/; do
                echo "Validating $dir"
                cd "$dir"
                terraform init -backend=false
                terraform validate
                cd ../..
              done
            displayName: 'Validate All Modules'
            workingDirectory: '$(System.DefaultWorkingDirectory)'
